.navbar {
   background: rgba(20,20,20, .8);
   border-bottom: 2px solid #2196F3;
   box-shadow: 0 0.1rem 1rem rgba(0,0,0,.8);
}
main {
    margin-top: 3rem;
    margin-bottom: unset;
} 

main + div footer {
    position: unset;
}

main section h2 {
    font-size: 2rem;
    color: #1976D2;
}
main section {
    padding-top: 4rem;
    padding-bottom: 7rem;
    font-size: 1.5rem;
}

.carousel{
    height: 600px;
    overflow: hidden;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.solution{
    font-size: 2rem;
}

iframe {
    border: 1px solid #ddd;
}